# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.VC.db
Content/__ExternalActors__
Content/__ExternalObjects__

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Crash reports
CrashReportClient/